%ul.nav.nav-pills.nav-stacked
  - menu_items.each do |menu|
    %li
      = link_to menu[:label], "##{menu[:id]}"
      - if menu[:children].size > 0
        = render partial: 'menu_items', object: menu[:children]
