[ng\:cloak], [ng-cloak], .ng-cloak
  display: none !important

#documentation-editor
  position: relative

  .editor-header
    background-color: white
    display: block
    padding: 1.5em 2em 0
    border-bottom: 1px solid #DDD
    position: fixed
    width: 100%
    z-index: 10
    h1
      margin: 0
      padding: 0
      display: inline-block

  .editor-content
    z-index: 1
    background: white
    padding: 20px
    padding-top: 90px
    .insert-sections
      padding: 0 0 40px 0
      .btn
        font-size: 0.6em
        padding: 0px 4px
    .markdown
      color: black
      border-left: 4px solid #DDD !important
      background: white
      padding: 5px 10px
      margin: 0
      font-family: inherit
      &:focus
        outline: none
    textarea.markdown
      width: 100%
      min-height: 1000px
      border: 1px solid #DDD !important
      font-family: Courier
    .alert
      margin-bottom: 0
      &:focus
        outline: none
    .parameters
      pre.markdown
        max-width: 600px
    .if
      border-top: 2px solid black
      background: #DDD
      color: black
      text-align: center
    .if:before
      content: 'if ( '
      font-weight: bold
    .if.ifnot:before
      content: 'if NOT ('
    .if:after
      content: ' ) {'
      font-weight: bold
    .endif
      background: #DDD
      font-weight: bold
      text-align: center
      border-bottom: 2px solid black
    .image
      img
        max-width: 50%
        display: block
        border: 1px solid #DDD
        margin: 0 auto
    .code
      ul.nav.nav-tabs
        li
          a
            display: inline-block
            background: #999
            color: black
            padding: 2px 6px
            margin: 0
            border-radius: 0
            font-size: 0.8em
            border: 0
          &.active
            a
              border: 0
              background: #DDD
      .tab-content
        pre
          color: black
          background: #DDD
          border: none
          border-radius: 0
          padding: 5px 10px
          margin: 0
          &:focus
            outline: none
    .pages
      img
        width: 100px

  .images
    height: 150px
    overflow: auto
    overflow-x: scroll
    white-space: nowrap
    img
      max-height: 150px
      max-width: 150px
      border: 1px solid #DDD
      margin-right: 5px

.markdown-page
  h1, h2, h3, h4, h5, h6
    position: relative
    a:hover
      text-decoration: none
    a.anchor
      display: none
      position: absolute
      top: 0
      left: 0
      margin-left: -1.2em
      padding: 0.5em 1em 0 0
      font-size: 0.5em
      color: inherit
    &:hover
      a.anchor
        display: block
  tbody
    tr
      td:first-child
        a.anchor
          color: inherit
          visibility: hidden
        p
          white-space: nowrap
          &:hover
            a.anchor
              visibility: visible

